In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn import preprocessing

In [2]:
df1 = pd.read_csv("train.csv")
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df1["Age"].mean()

32.69985376827896

In [4]:
new_age_var = np.where(df1["Age"].isnull(),32,df1["Age"])
df1["Age"] = new_age_var
le = preprocessing.LabelEncoder()
encoded_sex = le.fit_transform(df1["Sex"])

In [5]:
tree_model = tree.DecisionTreeClassifier()
pred = pd.DataFrame([encoded_sex,df1["Age"],df1["Fare"]]).T
tree_model.fit(X=pred,y=df1["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [6]:
with open("Dtree1.dot",'w') as f:
    f = tree.export_graphviz(tree_model,feature_names=["Sex","Age","Fare"],out_file=f);

In [7]:
tree_model.score(X=pred,y=df1["Survived"])

0.9763779527559056

# This model is 97.63% Accurate.