In [1]:
import pandas as pd
dataset_Ayes = pd.read_excel("general_data1.xlsx",sheet_name=0)
dataset_Ano = pd.read_excel("general_data1.xlsx",sheet_name=1)
d1 = dataset_Ayes.head(20)
d2 = dataset_Ano.head(20)
d1

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,31.0,Yes,Travel_Frequently,Research & Development,10.0,1.0,Life Sciences,1.0,2.0,Female,...,0.0,Y,23.0,8.0,1.0,6.0,3.0,5.0,1.0,4.0
1,28.0,Yes,Travel_Rarely,Research & Development,11.0,2.0,Medical,1.0,7.0,Male,...,2.0,Y,20.0,8.0,1.0,5.0,2.0,0.0,0.0,0.0
2,47.0,Yes,nan-Travel,Research & Development,1.0,1.0,Medical,1.0,14.0,Male,...,1.0,Y,11.0,8.0,2.0,10.0,4.0,10.0,9.0,9.0
3,44.0,Yes,Travel_Frequently,Research & Development,1.0,2.0,Medical,1.0,29.0,Male,...,3.0,Y,14.0,8.0,1.0,19.0,2.0,1.0,0.0,0.0
4,26.0,Yes,Travel_Rarely,Research & Development,4.0,3.0,Medical,1.0,31.0,Male,...,2.0,Y,11.0,8.0,0.0,5.0,5.0,3.0,0.0,2.0
5,26.0,Yes,Travel_Rarely,Research & Development,8.0,3.0,Medical,1.0,36.0,Male,...,1.0,Y,12.0,8.0,2.0,8.0,5.0,8.0,7.0,4.0
6,18.0,Yes,Travel_Rarely,Research & Development,1.0,4.0,Life Sciences,1.0,39.0,Male,...,1.0,Y,14.0,8.0,2.0,0.0,3.0,0.0,0.0,0.0
7,52.0,Yes,Travel_Rarely,Research & Development,7.0,1.0,Life Sciences,1.0,60.0,Female,...,2.0,Y,18.0,8.0,1.0,11.0,2.0,8.0,7.0,7.0
8,28.0,Yes,Travel_Rarely,Research & Development,9.0,4.0,Medical,1.0,66.0,Male,...,5.0,Y,14.0,8.0,1.0,5.0,4.0,3.0,2.0,2.0
9,39.0,Yes,Travel_Rarely,Research & Development,1.0,1.0,Medical,1.0,70.0,Female,...,4.0,Y,17.0,8.0,1.0,12.0,0.0,1.0,0.0,0.0
10,29.0,Yes,Travel_Rarely,Research & Development,29.0,3.0,Medical,1.0,79.0,Female,...,1.0,Y,13.0,8.0,1.0,7.0,0.0,7.0,0.0,7.0
11,21.0,Yes,Travel_Frequently,Research & Development,9.0,3.0,Medical,1.0,100.0,Female,...,1.0,Y,12.0,8.0,0.0,3.0,5.0,3.0,1.0,2.0
12,33.0,Yes,Travel_Rarely,Human Resources,28.0,2.0,Human Resources,1.0,106.0,Female,...,1.0,Y,21.0,8.0,1.0,1.0,3.0,1.0,0.0,0.0
13,41.0,Yes,Travel_Frequently,Research & Development,16.0,1.0,Medical,1.0,109.0,Female,...,1.0,Y,11.0,8.0,0.0,8.0,3.0,8.0,7.0,7.0
14,40.0,Yes,Travel_Rarely,Research & Development,8.0,3.0,Medical,1.0,111.0,Female,...,2.0,Y,20.0,8.0,0.0,8.0,2.0,6.0,1.0,0.0
15,21.0,Yes,Travel_Rarely,Human Resources,10.0,2.0,Human Resources,1.0,113.0,Male,...,1.0,Y,12.0,8.0,1.0,1.0,2.0,1.0,0.0,0.0
16,34.0,Yes,nan-Travel,Research & Development,7.0,3.0,Life Sciences,1.0,121.0,Male,...,8.0,Y,25.0,8.0,1.0,9.0,3.0,5.0,0.0,4.0
17,26.0,Yes,Travel_Frequently,Sales,14.0,3.0,Life Sciences,1.0,125.0,Male,...,0.0,Y,18.0,8.0,3.0,7.0,3.0,6.0,0.0,4.0
18,30.0,Yes,Travel_Frequently,Sales,3.0,2.0,Marketing,1.0,128.0,Male,...,9.0,Y,19.0,8.0,0.0,3.0,2.0,1.0,0.0,0.0
19,25.0,Yes,Travel_Rarely,Research & Development,5.0,2.0,Life Sciences,1.0,148.0,Female,...,5.0,Y,13.0,8.0,0.0,6.0,3.0,2.0,0.0,2.0

In [2]:
d2

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
2,38,No,nan-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
3,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
4,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7
5,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,8,Male,...,2.0,Y,22,8,3,10.0,2,0,0,0
6,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,9,Male,...,0.0,Y,21,8,0,10.0,2,9,7,8
7,25,No,nan-Travel,Research & Development,7,4,Medical,1,10,Female,...,1.0,Y,13,8,1,6.0,2,6,1,5
8,45,No,Travel_Rarely,Research & Development,17,2,Medical,1,11,Male,...,0.0,Y,13,8,2,21.0,2,20,4,10
9,36,No,Travel_Rarely,Research & Development,28,1,Life Sciences,1,12,Male,...,0.0,Y,12,8,2,16.0,2,15,10,11
10,55,No,Travel_Rarely,Research & Development,14,4,Life Sciences,1,13,Female,...,0.0,Y,17,8,0,37.0,2,36,4,13
11,28,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,15,Male,...,1.0,Y,14,8,0,5.0,2,5,0,4
12,37,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,16,Male,...,4.0,Y,11,8,0,7.0,2,5,0,1
13,21,No,Travel_Rarely,Research & Development,3,2,Life Sciences,1,17,Male,...,1.0,Y,12,8,3,3.0,3,3,1,0
14,37,No,nan-Travel,Research & Development,1,3,Medical,1,18,Male,...,2.0,Y,13,8,1,15.0,2,5,0,2
15,35,No,Travel_Rarely,Sales,7,4,Life Sciences,1,19,Male,...,7.0,Y,16,8,0,10.0,5,7,6,2
16,38,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,20,Female,...,1.0,Y,11,8,1,8.0,5,8,7,7
17,26,No,Travel_Frequently,Research & Development,1,4,Other,1,21,Male,...,1.0,Y,18,8,0,6.0,3,6,1,4
18,50,No,Travel_Rarely,Sales,8,4,Life Sciences,1,22,Male,...,3.0,Y,23,8,0,28.0,2,10,1,6
19,53,No,Travel_Rarely,Research & Development,11,4,Life Sciences,1,23,Female,...,3.0,Y,11,8,0,21.0,2,5,1,3

# 1. Mannwhitney Test

In [7]:
from scipy.stats import mannwhitneyu
stats,p = mannwhitneyu(d1.PercentSalaryHike,d2.PercentSalaryHike)
print("stats: ",stats,'\n',"P value: ",p)

stats:  159.0
 P value:  0.13469351870305235

In [6]:
stats,p = mannwhitneyu(d1.Education,d2.Education)
print("stats: ",stats,'\n',"P value: ",p)

stats:  116.5
 P value:  0.009937917506014915

# 2. Wilcoxon Test

In [5]:
from scipy.stats import wilcoxon
stats,p = wilcoxon(d1.Age,d1.Education)
print("stats: ",stats,'\n',"P value: ",p)

stats:  0.0
 P value:  8.70783521016157e-05

# 3. Friedman Test

In [8]:
from scipy.stats import friedmanchisquare
stats,p = friedmanchisquare(d1.Age,d1.PercentSalaryHike,d1.Education)
print("stats: ",stats,'\n',"P value: ",p)

stats:  40.0
 P value:  2.0611536224385566e-09

# 4. Kruskal Wallis Test

In [9]:
from scipy.stats import kruskal
stats,p = kruskal(d2.Age,d2.Education,d2.PercentSalaryHike)
print("stats: ",stats,'\n',"P value: ",p)

stats:  52.35869261894794
 P value:  4.270260389183056e-12

# 5. Chi-square Test

In [10]:
dataset_Ayes1 = pd.read_excel("general_data1.xlsx",sheet_name=0)
data4 = d1.dropna()
from scipy.stats import chi2_contingency
chitable = pd.crosstab(data4.Age,data4.Gender)
print(chitable)

Gender  Female  Male
Age
18.0         0     1
21.0         1     1
25.0         1     0
26.0         0     3
28.0         0     2
29.0         1     0
30.0         0     1
31.0         1     0
33.0         1     0
34.0         0     1
39.0         1     0
40.0         1     0
41.0         1     0
44.0         0     1
47.0         0     1
52.0         1     0

# 6. One Sample Test

In [11]:
from scipy.stats import ttest_1samp
a1 = data4.PercentSalaryHike
stat,p = ttest_1samp(a1,5)
print("stats: ",stats,'\n',"P value: ",p)

stats:  52.35869261894794
 P value:  7.838648014305367e-10

# 7. Two Sample Test

In [12]:
from scipy.stats import ttest_rel
a2 = data4.Age
a3 = data4.PercentSalaryHike
stat,p = ttest_rel(a2,a3)
print("stats: ",stats,'\n',"P value: ",p)

stats:  52.35869261894794
 P value:  3.911612763153183e-07

# 8.Two Sample Independent T-Test

In [13]:
from scipy.stats import ttest_ind
a2 = data4.Age
a3 = data4.PercentSalaryHike
stat,p = ttest_rel(a2,a3)
print("stats: ",stats,'\n',"P value: ",p)

stats:  52.35869261894794
 P value:  3.911612763153183e-07