# Question 1

Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

Input Format:
The first line of the input contains an email address.

Output Format:
Print the company name in single line.

In [1]:
str = 'john@google.com'
print("Email id = ",str)
print(str[5:11])

Email id =  john@google.com
google

In [3]:
print(input('eamil_id: ').split('@')[1].split(".")[0])

eamil_id: swapnil@google.com
google

# Question 2:

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

In [2]:
letters = input("Enter Comma-separated sequence of words: ").split(',')
items = [i for i in letters]
items.sort()
print(','.join(items))

Enter Comma-separated sequence of words: pen,book,bag,notebook,marker,laptop
bag,book,laptop,marker,notebook,pen

# Question 3

Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

In [1]:
sets = {'apple','banana','orange'}
print(sets)
sets.update(['pink','onion'])
print(sets)
sets.clear()
print(sets)

{'banana', 'orange', 'apple'}
{'banana', 'pink', 'orange', 'apple', 'onion'}
set()

# Question 4

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

In [1]:
def getmissing(a):
    n = len(a)
    total = (n+1)*(n+2)/2
    sum_of_a = sum(a)
    return total-sum_of_a
x = [int(x) for x in input("list= ").split()]
miss = getmissing(x)
print(int(miss))

list= 1 2 3 4 6 7 8
5

# Question 5

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:

If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be
12 24 35 88 120 155

In [1]:
def dup_num(data):
    ndata = []
    arr = set()
    for item in data:
        if item not in arr:
            arr.add(item)
            ndata.append(item)
    return ndata
data = [1,2,5,6,8,9,8,2,1,54,3]
print(dup_num (data))

[1, 2, 5, 6, 8, 9, 54, 3]